# vim swap files
.*.sw[po]

# Compiled Python files
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
tmp
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Sphinx docs build path
docs/_build

# Local
.local
